<h1>Title: <%= @question.title %></h1>

<h3>Content: <%= @question.content %></h3>
<hr>

<h3> Answer: </h3>
<%= link_to "New Answer", '#', :class => 'new-answer' %>

<div id="responses">
  <% @answers.each do |answer| %>
    <%=  answer.content  %>
    <%= link_to "New Comment", '#', :class => 'new-comment' %>
    <% answer.responses.each do |comment| %>
      <%=  comment.content %>
    <% end %>        
  <% end %>


</div>

<div class="add-answer-form hidden">
  <%= render partial: '/responses/new', locals: { responsable: Question, response: @question.responses.build } %>
</div>




<%= link_to 'Homepage', questions_path %>
