<h1>This is the show page</h1>

<p>Title: <%= @question.title %></p>

<p>Question: <%= @question.content %></p>
<br>

<h3> Responses: </h3>
<div id="responses">
<% if @responses.length > 0 %>
    <% @responses.each do |response| %>
      <%=  response.body  %>
      <br>
    <% end %>
  <% else %>
    <p>No responses</p>
<% end %>
</div>

<%= render partial: '/responses/new', locals: {question: @question, response: Response.new} %>
<br>
<%= link_to 'Homepage', questions_path %>
